.IT {
	background: url("images/flightimg_new.png") no-repeat scroll -23px 6px
		transparent;
	height: 33px;
	width: 30px !important;
}

.big {
	font-size: 25px !important;
	margin: 0;
	padding: 0 !important;
}

.thumbnail {
	margin: 5px;
	border: 2.1px solid #BBBBBB !important;
}

.type {
	background: :url("") no-repeat 0 0 transparent;
	width: 10px;
	height: 10px;
}

.desc {
	font-size: 12px;
	display: block;
	font-size: 12px;
	font-weight: normal;
	height: 36px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.star-rating {
	background: url(images/star.gif) no-repeat 0 0px;
	height: 16px;
	width: 18px;
	float: left;
}

.rating-cancel {
	display: block;
	width: 16px;
	height: 100%;
	background-position: 0 0px;
	border: 0
}

.star-rating-red {
	background-position: 0 -16px !important;
}

.star-rating-on {
	background-position: 0 -32px !important;
}

.wrap {
	white-space: normal;
}

.links {
	
}

.cart_item {
	margin: 4px !important;
	padding: 5px;
	cursor: default;
}

.cart_item p {
	margin: 0px;
	font-size: 12px;
	font-weight: normal;
}

.cart_item p.heavy {
	font-weight: bold;
	font-size: 14px;
}

.cart_item div {
	width: 100%;
}

.cart_delete {
	background: url("images/delete.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: block;
	float: right;
	height: 16px;
	margin-right: -9px;
	margin-top: -11px;
	width: 16px;
}

.cart_plus {
	background: url("images/plus.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 24px;
	margin-top: 27px;
	width: 25px;
}

.L6E {
	background-position: -172px 0 !important;
	display: block;
	height: 28px;
	margin: 0 0 4px;
	width: 33px;
}

.L9W {
	background-position: -172px -49px !important;
	display: block;
	height: 34px;
	width: 37px;
}

.sahara {
	background-position: 0 -143px;
	display: block;
	height: 25px;
	width: 71px;
}

.LIT,.LDN {
	background-position: -171px -78px !important;
	display: block;
	height: 29px;
	width: 31px;
}

.LSG {
	background-position: -96px -107px !important;
	display: block;
	height: 33px;
	width: 29px;
}

.logo {
	background: url("images/flightimg_new.png") no-repeat scroll 0 0
		transparent;
}

.LAI {
	background-position: -92px -49px;
	display: block;
	height: 34px;
	width: 39px;
}

.LG8 {
	background-position: -17px -56px;
	display: block;
	height: 25px;
	width: 35px;
}

.LJK,.LJL,.LS2 {
	background-position: -89px -77px;
	display: block;
	height: 31px;
	width: 60px;
}

.jetLiteSpecial {
	background-position: 0 -85px;
	display: block;
	height: 25px;
	width: 74px;
}

.LIX {
	background-position: -82px 0;
	display: block;
	height: 25px;
	width: 64px;
}

.LVA {
	background-position: -23px -195px;
	display: block;
	height: 25px;
	width: 30px;
}

.spacer {
	background-position: -153px -143px;
	display: block;
	height: 25px;
	width: 71px;
}

.opaque {
	background-position: 0 -172px;
	display: block;
	height: 25px;
	width: 74px;
}

.others {
	background-position: -154px -115px;
	display: block;
	height: 25px;
	width: 74px;
}

.LMN {
	background-position: -91px -166px;
	display: block;
	height: 25px;
	width: 43px;
}

.bus {
	background: url("images/bus.png") no-repeat 0 0 transparent;
	width: 48px;
	height: 48px;
}

.sprite_bus {
	background: url("images/sprite_150610.png") no-repeat scroll 0 0
		transparent;
	height: 18px;
	width: 18px;
	margin-left: 2px;
	float: left;
}

.bus_ac {
	background-position: 0 -138px;
}

.bus_ac_on {
	background-position: 0 -164px;
}

.bus_seater {
	background-position: 0 -410px;
}

.bus_seater_on {
	background-position: 0 -391px;
}

.bus_sl {
	background-position: 0 -192px;
}

.bus_sl_on {
	background-position: 0 -218px;
}

.bus_volvo {
	background-position: 0 -245px;
}

.bus_volvo_on {
	background-position: 0 -272px;
}

.flr {
	float: right;
	margin-top: 6px;
	position: absolute;
}